      <%= form_for @topic do |f|%>
        <h3>发布新帖</h3>
        <div class="post-item">
          <span class="title">标题</span>
          <%= f.text_field :title, class: :con, placeholder: "请输入帖子标题"  %>
        </div>
        <div class="post-item">
          <span class="title">帖子分类</span>
          <div class="con">
            <div class="select-title">
              <%= f.select :node_id, Node.all.map { |c| [c.title, c.id] }%>
            </div>
          </div>
        </div>

        <% if is_admin? %>
          <div class="post-item">
            <span class="title">关键字</span>
            <div class="con">
              <%= f.text_field :seo_keyword %>
              <p class="tips">输入帖子内容的关键字， 以“,”分开</p>
            </div>
          </div>
        <% end %>

        <div class="post-item">
          <span class="title">帖子内容</span>
          <div class="con">
            <%= f.text_area :body, simditor: true %>
            <%= f.submit "发布新帖", class:"btn"%>
          </div>
        </div>
      <% end %>