<link rel="stylesheet" href="/kkb/index.css">

    <div class="main">
      <div class="left">
        <div class="post-list">
          <div class="title">
            <h3>全部帖子</h3>
            <ul class="tags">
              <li>
                <%= link_to "精品帖子", topics_path(:level => 3)%>
              </li>
              <li>
                <%= link_to "热门帖子", topics_path(:level => 2)%>
              </li>
              <li>
                <%= link_to "最新帖子", topics_path %>
              </li>
            </ul>
          </div>
          <div class="best list">
            <%= render "/shared/topic_list", collection: @topics %>
          </div>
        </div>
        <div class="page">
          <%= paginate @topics %>
        </div>
      </div>
      <div class="right">
        <%= render "/shared/search" %>
        <%= render "shared/topic_right" %>

        <div class="ad-img">
          <%= image_tag "mouse.jpg" %>
          <%= image_tag "mouse.jpg" %>
          <%= image_tag "mouse.jpg" %>
        </div>
      </div>
      <div class="sidebar">
        <dl>
          <dt>
            <a href="/">
              <%= image_tag "novice_help.png" %>
            </a>
          </dt>
          <dd>新手帮助</dd>
        </dl>
        <dl>
          <dt>
            <a href="">
              <%= image_tag "globle_feedback.png" %>
            </a>
          </dt>
          <dd>意见反馈</dd>
        </dl>
        <dl>
          <dt>
            <a href="/">
              <%= image_tag "return_to_top.png" %>
            </a>
          </dt>
          <dd>返回顶部</dd>
        </dl>
      </div>
    </div>