    <div class="main">
      <div class="left">
        <div class="slider">
          <a href="">
            <%= image_tag "slider1.jpg", class: "show" %>
            <p class="description">
              <span>这里是帖子的名称，可能很长很长，但是也有可能很短很短。</span>
              <span>用户名稍微有点长·学习小组·276浏览·62回复</span>
            </p>
          </a>
          <ul class="slider-tag">
            <li> <%= image_tag "slider1.jpg" %> </li>
            <li> <%= image_tag "slider1.jpg" %> </li>
            <li> <%= image_tag "slider1.jpg" %> </li>
            </ul>
        </div>
        <div class="post-list">
          <div class="title">
            <h3>全部帖子</h3>
            <ul class="tags">
              <li><a href="javascript:;">精品帖子</a></li>
              <li><a href="javascript:;">热门帖子</a></li>
              <li><a href="javascript:;">最新帖子</a></li>
            </ul>
          </div>
          <div class="best list">
            <% @topics.each do |topic|%>
            <dl>
              <dt>
                <%= image_tag "head-img.gif" %>
              </dt>
              <dd class="post-name">
                <span class="tag-top">置顶</span>
                <span><%= link_to topic.title, topic_path(topic)%></span>
                <span class="tag-new">NEW</span>
                <span class="tag-best">精华</span>
                <span class="tag-mark">
                  <%= image_tag "mark.gif" %>
                </span>
              </dd>
              <dd class="post-info">
                <span><%= topic.user.name %></span><var>·</var>
                <span><%= format_datetime(topic.created_at) %></span><var>·</var>
                <span><%= topic.node.title %></span><var>·</var>
                <span>0浏览</span><var>·</var>
                <span><%= topic.comments_count %>回复</span>
              </dd>
              <!-- <dd class="choice">
                <input name="check" type="checkbox">
              </dd> -->
            </dl>
            <% end %>
            <!-- <div class="edit">
              <p class="choice">
                <input class="check-all" type="checkbox">
                <span>全选</span>
              </p>
              <ul class="edit">
                <li>删除帖子</li>
                <li>删除帖子，并封禁楼主3天</li>
              </ul>
            </div> -->
          </div>
        </div>
        <div class="page">
          <%= paginate @topics %>
        </div>
      </div>
      <div class="right">
        <input class="search" type="text">
        <%= image_tag "search_icon.png", class: "search-bar" %>
        <a href="<%= new_topic_path %>">
          <%= image_tag "new_topic.png", class: "new-topic" %>
        </a>
        <div class="topic">
          <h2>社区话题</h2>
          <ul class="topic-tag">
            <% @title_list.each do |title| %>
              <li><%= link_to "#{title}(10)", "#" %></li>
            <% end %>
          </ul>
        </div>
        <div class="share">
          <h2>资源分享</h2>
          <dl>
            <dt>移动互联网创业者生存生存者移动互联网创业者生存创业创业者生存</dt>
            <dd>作者：蓝色泡沫</dd>
          </dl>
          <dl>
            <dt>移动互联网创业者生存</dt>
            <dd>作者：蓝色泡沫</dd>
          </dl>
          <dl>
            <dt>移动互联网创业者生存</dt>
            <dd>作者：蓝色泡沫</dd>
          </dl>
          <dl>
            <dt>移动互联网创业者生存</dt>
            <dd>作者：蓝色泡沫</dd>
          </dl>
        </div>
        <div class="ad-img">
          <%= image_tag "mouse.jpg" %>
          <%= image_tag "mouse.jpg" %>
          <%= image_tag "mouse.jpg" %>
        </div>
      </div>
      <div class="sidebar">
        <dl>
          <dt>
            <a href="/">
              <%= image_tag "novice_help.png" %>
            </a>
          </dt>
          <dd>新手帮助</dd>
        </dl>
        <dl>
          <dt>
            <a href="">
              <%= image_tag "globle_feedback.png" %>
            </a>
          </dt>
          <dd>意见反馈</dd>
        </dl>
        <dl>
          <dt>
            <a href="/">
              <%= image_tag "return_to_top.png" %>
            </a>
          </dt>
          <dd>返回顶部</dd>
        </dl>
      </div>
    </div>