<%= content_for :title  do %>
  <%= @topic.title %>
<% end %>

<%= content_for :keywords do %>
  <%= @topic.seo_keyword %>
<% end %>

<link rel="stylesheet" href="/kkb/forum_detail.css">
    <div class="main">
      <div class="left">
        <div class="crumbs">
          <a href="/">论坛首页</a> >
          <a href="/"><%= @topic.node.title %></a>
        </div>
        <div class="post-list">
          <% if can? :trash, @topic %>
            <%= link_to "删除帖子", trash_topic_path(@topic), method: :delete, data: { confirm: "确定删除？" } %>
          <% end %>

          <dl>
            <dt><%= avatar_tag @topic_user %><p><%= @topic_user.name %></p></dt>
            <dd class="post-name">
              <span><%= link_to @topic.title, '#'%></span>
              <span class="tag-top">置顶</span>
              <span class="tag-new">NEW</span>
              <span class="tag-best">精华</span>
              <span class="tag-mark">
                <%= image_tag "mark.gif" %>
              </span>
            </dd>
            <dd class="post-info">
              <span><%= @topic.user.name %></span><var>·</var>
              <span><%= format_datetime(@topic.created_at) %></span>
              <var>·</var>
              <span><%= @topic.node.title %></span><var>·</var>
              <span><%= @topic.views.to_i %>浏览</span><var>·</var>
              <span><%= @topic.comments_count %>回复</span>
            </dd>
            <dd class="con">
              <%= raw @topic.body %>
            </dd>
            <dd class="share-to">
              <ul class="share-btn">
                <li>分享到：</li>
                <%= social_share_button_tag(@topic.title, url: request.fullpath) %>
                <li class="inform"><a>举报</a></li>
              </ul>
              <ul class="reply-btn">
                <li>
                  <% if @topic.liked_by? current_user %>
                    <%= link_to "取消收藏", topic_like_path(@topic), method: :delete %></li>
                  <% else %>
                    <%= link_to "收藏", topic_like_path(@topic), method: :post %></li>
                  <% end %>
                <li><%= image_tag "msg.png" %>回复</li>
              </ul>
            </dd>
          </dl>
          <dl class="reply-list">
            <p class="storey sofa">沙发</p>
            <% if @first_comment.present? %>
              <% if can? :trash, @first_comment %>
                <%= link_to "删除评论", trash_comment_path(@first_comment), method: :delete, data: { confirm: "确定删除？" } %>
              <% end %>
              <dt>
                <%= avatar_tag @first_comment.user %>
                <p><%= @first_comment.user.name %></p>
              </dt>
              <dd>
                <p class="time">
                  <%= format_datetime(@first_comment.created_at) %>
                </p>
                <p><%= raw @first_comment.body %></p>
              </dd>
              <dd class="reply-con">
                <div class="top-btn">
                  <span class="inform">举报</span>
                  <ul class="add-btn">
                    <li>
                      <% if @first_comment.liked_by? current_user %>
                        <%= link_to "取消收藏", comment_like_path(@first_comment), method: :delete %>
                      <% else %>
                        <%= link_to "收藏", comment_like_path(@first_comment), method: :post %>
                      <% end %>
                    </li>
                    <li>回复</li>
                  </ul>
                </div>

                <div class="reply hidden">
                  <dl>
                    <dt><%= avatar_tag current_user.avatar if current_user %></dt>
                    <dd>
                      <p class="username">冯玉玉Caroline</p>
                      <p>使在线学习者的学习体验得到质的飞跃。升级后的课程以最高质量带给用户极致的用户体验，提升平均时间的信息量的传递，让教育变得更有趣，更有信息量。学习者满足了视听享受，也就更有动力完成更多的课程。</p>
                      <p class="time">
                        <span>2014-09-12 16:00</span>
                        <span>举报</span>
                      </p>
                      <p class="reply-btn">回复</p>
                    </dd>
                  </dl>
                  <div class="reply-textarea">
                    <div class="top-btn">
                      <p class="others">
                        <span>还有剩余13条回复，</span>
                        <a class="click" href="">点击查看</a>
                      </p>
                      <p class="reply-host">提交回复</p>
                    </div>
                    <div class="textarea">
                      <textarea name="" id=""></textarea>
                      <p class="reply-btn" type="submit">回复楼主</p>
                    </div>
                  </div>
                </div>
              </dd>
            <% end %>
          </dl>
          <div class="inform-bac hidden"></div>
          <div class="inform-con hidden">
            <h3>我要举报</h3>
            <dl>
              <dt>
                <span class="username">用户名</span>
                <span>所发布的</span>
                <p>帖子名称</p>
              </dt>
              <dd>
                <p>举报原因</p>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <div class="btn">
                  <span>提交举报</span>
                  <span>取消举报</span>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <div class="post-reply">
          <dl>
            <dt>
              <%= avatar_tag current_user if current_user %>
              <p><%= current_user.name if current_user %></p>
            </dt>
            <dd>
              <%= render 'comments/new_comment', commentable: @topic %>
            </dd>
          </dl>
        </div>
      </div>
      <div class="right">
        <%= render "/shared/search" %>
        <%= render "shared/topic_right" %>
      </div>
    </div>

