<!DOCTYPE html>
<html>
<head>
  <title>开课吧-后台</title>
  <%= stylesheet_link_tag  "admin/application", media: "all"%>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "admin/share/title"%>
  <div class="container">
    <div class="col-md-3">
      <%= render "admin/share/left"%>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</body>
</html>
