<div class="share">
  <h2>相关话题</h2>
  <dl>
    <dt><%= link_to "移动互联网相关话题", "#"%></dt>
    <dd>作者：shooter</dd>
  </dl>
  <dl>
    <dt><%= link_to "移动互联网相关话题", "#"%></dt>
    <dd>作者：shooter</dd>
  </dl>
  <dl>
    <dt><%= link_to "移动互联网相关话题", "#"%></dt>
    <dd>作者：shooter</dd>
  </dl>
  <dl>
    <dt><%= link_to "移动互联网相关话题", "#"%></dt>
    <dd>作者：shooter</dd>
  </dl>
</div>

<div class="share">
  <h2>资源分享</h2>
  <dl>
    <dt><%= link_to "资源分享", "#" %></dt>
    <dd>xxxx</dd>
  </dl>
  <dl>
    <dt><%= link_to "资源分享", "#" %></dt>
    <dd>作者：oooo</dd>
  </dl>
  <dl>
    <dt><%= link_to "资源分享", "#" %></dt>
    <dd>xxxx</dd>
  </dl>
  <dl>
    <dt><%= link_to "资源分享", "#" %></dt>
    <dd>作者：oooo</dd>
  </dl>
</div>