<ul class="list-group">
  <li class="list-group-item">
    <%= link_to "广告管理", admin_ads_path%>
  </li>
  <li class="list-group-item">
    <%= link_to "轮播图管理", admin_slider_index_path%>
  </li>
  <li class="list-group-item">
    <%= link_to "节点管理", admin_nodes_path%>
  </li>
  <li class="list-group-item">
    <%= link_to "用户管理", admin_users_path%>
  </li>
  <li class="list-group-item">
    <%= link_to "黑名单用户", admin_users_path(:group => "black")%>
  </li>
  <li class="list-group-item">
    帖子管理
  </li>
  <li class="list-group-item">
    用户管理
  </li>
  <li class="list-group-item">
    节点管理
  </li>
</ul>