<link rel="stylesheet" href="/kkb/index.css">

    <div class="main">
      <div class="left">
        <div class="slider">
          <a href="">
            <%= image_tag "slider1.jpg", class: "show" %>
            <p class="description">
              <span>帖子 名称</span>
              <span>用户名·学习小组·276浏览·62回复</span>
            </p>
          </a>
          <ul class="slider-tag">
            <li> <%= image_tag "slider1.jpg" %> </li>
            <li> <%= image_tag "slider1.jpg" %> </li>
            <li> <%= image_tag "slider1.jpg" %> </li>
            </ul>
        </div>
        <div class="post-list">
          <div class="title">
            <h3>全部帖子</h3>
            <ul class="tags">
              <li>精品帖子</li>
              <li>热门帖子</li>
              <li>最新帖子</li>
            </ul>
          </div>
          <div class="best list">
            <%= render "/shared/topic_list", collection: @topics %>
          </div>
        </div>
        <div class="page">
          <%= paginate @topics %>
        </div>
      </div>
      <div class="right">
        <%= form_tag(search_topics_path, method: :get) do %>
          <%= text_field_tag :q, nil, class: 'search' %>
          <%= image_tag "search_icon.png", class: "search-bar" %>
        <% end %>

        <a href="<%= new_topic_path %>">
          <%= image_tag "new_topic.png", class: "new-topic" %>
        </a>
        <div class="topic">
          <h2>社区话题</h2>
          <ul class="topic-tag">
            <% Node.all.each do |node| %>
              <li><%= link_to "#{node.title}(#{node.topics.count})", topics_path(node_id: node.id) %></li>
            <% end %>
          </ul>
        </div>
        <div class="share">
          <%= render '/shared/resource_node' %>
        </div>
        <div class="ad-img">
          <%= image_tag "mouse.jpg" %>
          <%= image_tag "mouse.jpg" %>
          <%= image_tag "mouse.jpg" %>
        </div>
      </div>
      <div class="sidebar">
        <dl>
          <dt>
            <a href="/">
              <%= image_tag "novice_help.png" %>
            </a>
          </dt>
          <dd>新手帮助</dd>
        </dl>
        <dl>
          <dt>
            <a href="">
              <%= image_tag "globle_feedback.png" %>
            </a>
          </dt>
          <dd>意见反馈</dd>
        </dl>
        <dl>
          <dt>
            <a href="/">
              <%= image_tag "return_to_top.png" %>
            </a>
          </dt>
          <dd>返回顶部</dd>
        </dl>
      </div>
    </div>