<%= form_for [:admin, @ad], :html => { :multipart => true } do |f|%>
  <p>
 内部名称： <%= f.text_field :alise_title %>
  <p>
  URL：<%= f.text_field :url %>
  <p>
  一级标题：<%= f.text_field :title %>
  <p>
  二级标题：<%= f.text_field :sub_title %>
  <p>
  上传文件：<%= f.file_field :image,:id => "imgInp" %>
  <p>
    <strong>大图</strong>
  <p>
  <%= image_tag "img_up.png",:id => "blah"%>
  <p>
  <strong>小图</strong>
  <p>
  <%= image_tag "img_up.png",:id => "blaz"%>
  <p>
  <strong>状态</strong>
  <select class="form-control" name="ad[status]">
    <option value = 0>上线</option>
    <option value = 1>下线</option>
  </select>
    <p>
    <%= f.submit "提交", class:"btn btn-primary"%>
<% end %>