<!DOCTYPE html>
<html>
<head>
  <title>开课吧管理后台</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <%= render "admin/share/title"%>
  <div class="container">
    <div class="col-md-3">
      <%= render "admin/share/left"%>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</body>
</html>
