<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : '开课吧-论坛' %></title>
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : '开课吧' %>" />
  <link rel="stylesheet" href="/kkb/head.css">
  <link rel="stylesheet" href="/kkb/foot.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='wrapper index'>
    <%= render '/layouts/header' %>
    <%= yield %>
    <%= render '/layouts/footer' %>
  </div>

  <%= yield(:footer) %>
</body>
</html>
